// Baby Pink
$pink: #D14B83;
$pink-rgb: 209,75,131;
$baby-pink: $pink;
$baby-pink-rgb: $pink-rgb;

// Light Pink
$light-pink: #EDCED9;
$light-pink-rgb: 237,206,217;

// Baby Blue
$baby-blue: #0FAEBA;
$teal: $baby-blue;
$baby-blue-rgb: 15,174,186;
$teal-rgb: $baby-blue-rgb;

// Baby Blue Dull
$baby-blue-dull: #73C9CF;
$baby-blue-dull-rgb: 115,201,207;

// Lighter Baby Blue
$teal-light: #6FC1C7;
$teal-light-rgb: 111,193,199;

// Lightest Baby Blue
$lightest-baby-blue: #EEFBFC;
$lightest-baby-blue-rgb: 238,251,252;

// Milk Light
$milk-light: #FCFBF0;;
$milk-light-rgb: 252,251,240;
$light: $milk-light;
$light-rgb: $milk-light-rgb;

// Cobalt
$blue: #2E869E;
$blue-rgb: 46,134,158;
$cobalt: $blue;
$cobalt-rgb: $blue-rgb;

// Navy Dark
$navy-dark: #00092D;
$dark: $navy-dark;
$navy-dark-rgb: 0,9,45;
$dark-rgb: $navy-dark-rgb;

// Baby Pink Medium
$baby-pink-medium: #9A0039;
$baby-pink-medium-rgb: 154,0,57;
$purple: $baby-pink-medium;
$purple-rgb: $baby-pink-medium-rgb;

:root {
  // Baby Pink
  --mmb-pink: #{$pink};
  --mmb-pink-rgb: #{$pink-rgb};
  --mmb-baby-pink: #{$baby-pink};
  --mmb-baby-pink-rgb: #{$baby-pink-rgb};
  // Light Pink
  --mmb-light-pink: #{$light-pink};
  --mmb-light-pink-rgb: #{$light-pink-rgb};
  // Baby Blue
  --mmb-teal: #{$baby-blue};
  --mmb-teal-rgb: #{$baby-blue-rgb};
  --mmb-baby-blue: #{$baby-blue};
  --mmb-baby-blue-rgb: #{$baby-blue-rgb};
  // Lighter Baby Blue
  --mmb-teal-light: #{$teal-light};
  --mmb-teal-light-rgb: #{$teal-light-rgb};
  // Baby Blue Dull
  --mmb-baby-blue-dull: #{$baby-blue-dull};
  --mmb-baby-blue-dull-rgb: #{$baby-blue-dull-rgb};
  // Lightest Baby Blue
  --mmb-lightest-baby-blue: #{$lightest-baby-blue};
  --mmb-lightest-baby-blue-rgb: #{$lightest-baby-blue-rgb};
  // Milk Light
  --mmb-milk-light: #{$milk-light};
  --mmb-milk-light-rgb: #{milk-light-rgb};
  --mmb-light: #{$light};
  --mmb-light-rgb: #{$light-rgb};
  // Cobalt
  --mmb-cobalt: #{$cobalt};
  --mmb-cobalt-rgb: #{$cobalt-rgb};
  --mmb-blue: #{$blue};
  --mmb-blue-rgb: #{$blue-rgb};
  // Navy Dark
  --mmb-navy-dark: #{$navy-dark};
  --mmb-navy-dark-rgb: #{$navy-dark-rgb}; 
  --mmb-dark: #{$dark};
  --mmb-dark-rgb: #{$dark-rgb}; 
  // Baby Pink Medium
  --mmb-baby-pink-medium: #{$baby-pink-medium};
  --mmb-baby-pink-medium-rgb: #{$baby-pink-medium-rgb};
}

$radii-small: 4px 20px 14px 26px;
$radii-medium: 6px 36px 22px 51.5px;
$radii-large: 10px 90px 50px 114px;
$shadow: rgba(black, .5) 0 2px 4px;

$header-height: 105px;
$header-height-desktop: 145px;

$small-break: 375px;
$plus-break: 414px;
$break: 768px;
// ipad air 5th gen, ipad 10th gen: 820px;
$ipad: 820px;
$large-break: 1024px;


$content-width: 1000px;
$wide-width: 1250px;


$admin-bar-mobile: 46px;
$admin-bar: 32px;

$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900; 