@mixin custom-variables {
  
    --wp--preset--spacing--20: 3rem;
    --wp--preset--spacing--30: 4rem;
    --wp--preset--spacing--40: 5rem;
    --wp--preset--spacing--50: 6rem;
    --wp--preset--spacing--60: 7rem;
    --wp--preset--spacing--70: 8rem;
    --wp--preset--spacing--80: 9rem;
}

body {
  @include custom-variables();
}