.locations {
  height: 500px; 
}

.map-location-data {
  width: 300px;
  padding: 0 1.6rem;
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

.map-location-popup {
  h2 {
    font-size: 2rem;
    margin: 1rem 0 0;
  }
}