.wp-block {
}

.editor-styles-wrapper {
  @import 'global';
  @import 'components';

  @include font-serif;

  .story {
    &__heading {
      font-size: 28px;
    }
    .quote {
      font-size: 48px;
    }
  }

  .home-header {
    // padding: 100px 20px 20px 20px;
    gap: 30px;
  }

  .wp-block-button__link {
    font-size: 20px;
    padding: 20px 40px;
  }
 }
