#stories-archive {
  padding: 0 2rem;
}
.stories-list {
  padding: 0;

  @include responsive {
    transform: none;
    position: static;
    height: auto;
    box-sizing: border-box;
    @include content-width($wide-width);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4rem;
  }
}