@import '../block-imports';

.latest-stories {
  padding: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  &.extra-top-padding {
    padding-top: 3rem;
    @include responsive {
      padding-top: 7rem;
    }
  }

  
  @include responsive {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  &__heading {
    color: var(--mmb-baby-blue);
    text-align: center;
    @include responsive {
      font-size: 4.8rem;
    }
  }
  
  &__list { 
    margin-top: 0;
    padding: 0;
    list-style: none;
    @include responsive {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 4rem;
    }
  }

  &__item {
    margin-top: 0;
    margin-left: 0;
    @include responsive {
      flex: 0 0 33.33%;
    }
  }

  .story {
    background: white;
    border-radius: 8px;
    border: 1px solid var(--mmb-baby-blue-dull);
    
    &__link {
      text-decoration: none;
    }
    &__header {
      background: var(--mmb-baby-blue);
      color: var(--mmb-light);
      padding: 2rem 1rem;
      text-align: center;
      border-radius: 8px 8px 0px 0px;
    }
    &__heading {
      @include font-serif($fw-bold);
      margin: 0;
    }
    .quote {
      width: 50px;
      height: 50px;
      background: var(--mmb-baby-blue-dull);
      color: var(--mmb-light);
      border-radius: 50%;
      font-size: 4.8rem;
      @include font-serif($fw-bold);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      span {
        transform: translateY(25%);
      }
    }
    &__excerpt {
      color: var(--mmb-baby-pink-medium);
      text-align: center;
      @include font-bilo($fw-bold);
      padding: 0 1.5rem;
      line-height: 2;
      text-wrap: pretty;
    }
    &__arrow {
      width: 40px;
      height: 40px;
      background: var(--mmb-pink);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(50%);

      svg {
        color: var(--mmb-light);
      }
    }
  }
}