@import '../block-imports';

.latest-stories {
  padding: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  
  &.extra-top-padding {
    padding-top: 30px;
    @include responsive {
      padding-top: 70px;
    }
  }
  &.extra-bottom-padding {
    padding-bottom: 30px;
    @include responsive {
      padding-bottom: 70px;
    }
  }

  
  @include responsive {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  &__heading {
    color: var(--mmb-baby-blue);
    text-align: center;
    @include responsive {
      font-size: 4.8rem;
    }
  }
  
  &__list { 
    margin-top: 0;
    padding: 0;
    list-style: none;
    @include responsive {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 4rem;
    }
  }

  &__item {
    margin-top: 0;
    margin-left: 0;
    @include responsive {
      flex: 0 0 33.33%;
    }
  }

}